<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url "dashbord" %}">
            <i class="fa-solid fa-school"></i> ScolaritéPro
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url "dashbord" %}">
                        <i class="fa-solid fa-house"></i> Accueil
                    </a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "list_student" %}" id="userDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-user"></i> Élèves
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "add_student" %}"><i class="fa-solid fa-users"></i> Ajouter élève</a></li>
                        <li><a class="dropdown-item" href="{% url "list_student" %}"><i class="fa-solid fa-users"></i>voir les élèves</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "liste_paiements" %}" id="userDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-user"></i> Paiements
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "effectuer_paiement" %}"><i class="fa-solid fa-users"></i> Ajouter paiement</a></li>
                        <li><a class="dropdown-item" href="{% url "liste_paiements" %}"><i class="fa-solid fa-users"></i>voir les paiements</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-user"></i> Compte
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "profile" %}"><i class="fa-solid fa-id-card"></i> Profil</a></li>
                        <li><a class="dropdown-item" href="{% url "logout" %}"><i class="fa-solid fa-sign-out-alt"></i> Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
